@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@ViewBag.Message</p>
<p>@ViewBag.BallState</p>

@for(int i=0; i<ViewBag.counter; i++)
{
    <p>@ViewBag.BallState</p>
}

<!--Html.ActionLink(Text,Action,Controller)-->

